*{
    background-image: linear-gradient(to left,#9F025E,#F9C929);
}

.base{
    font-family: georgia, sans-serif;
    color: black;
}

#title{
    font-size: 50px;
    text-align: left;
}

ul,ol{
    font-size: 20px;
}

img{
    height: 350px;
    width: 400px;
    
}

h2{
    font-size: 25px;
    text-align: left;
}

.para{
    font-size: 20px;
    text-align: justify;
}